
.mobile-crousel-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #ff422b;
  margin-bottom: 8px;
}

.slider-dots {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-top: 8px;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  background: transparent !important;
  position: static;
  width: 100%;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e5e5e5;
  cursor: pointer;
  transition: background 0.2s;
}
.dot.active {
  background: #ea580c;
} 